<div class="container">
    <h2>Angular JS Data Responsive SVG Map</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <div svg-map></div>
                    <div class="scale">
                        <div ng-repeat="legend in vm.legend"
                             ng-style="{backgroundColor:'{{legend.value | map_colour}}'}">{{legend.text}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <div class="countryList">
                        <div ng-repeat="country in vm.countries"
                              ng-class="{active:hoverCountry===country.code}"
                              ng-mouseover="changeHoverCountry(country.code)">
                            <div>{{country.code}}</div>
                            <div>{{country.gdp | number}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
