<div class="container">
    <h2>Bar chart for GDP vs Total Expenditure</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel panel-body">
                  <canvas id="bar" class="chart chart-bar"
                    chart-data="vm.graphData" chart-labels="vm.countriesNames" chart-series="vm.series">
                  </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
